@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 170 100% 100%;
    --foreground: 170 5% 10%;
    --card: 170 50% 100%;
    --card-foreground: 170 5% 15%;
    --popover: 170 100% 100%;
    --popover-foreground: 170 100% 10%;
    --primary: 170 36.4% 38.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 170 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 132 30% 95%;
    --muted-foreground: 170 5% 40%;
    --accent: 132 30% 90%;
    --accent-foreground: 170 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 170 5% 100%;
    --border: 170 30% 82%;
    --input: 170 30% 50%;
    --ring: 170 36.4% 38.2%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 170 50% 10%;
    --foreground: 170 5% 90%;
    --card: 170 50% 10%;
    --card-foreground: 170 5% 90%;
    --popover: 170 50% 5%;
    --popover-foreground: 170 5% 90%;
    --primary: 170 36.4% 38.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 170 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 132 30% 25%;
    --muted-foreground: 170 5% 60%;
    --accent: 132 30% 25%;
    --accent-foreground: 170 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 170 5% 90%;
    --border: 170 30% 25%;
    --input: 170 30% 25%;
    --ring: 170 36.4% 38.2%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.custom-scrollbar {
  /* Firefox: */
  scrollbar-width: thin;
  scrollbar-color: #6b7280 #e5e7eb; /* thumb 색상: #6b7280 (Tailwind gray-500), track 색상: #e5e7eb (Tailwind gray-200) */
}

/* WebKit 브라우저용 */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb; /* 밝은 회색 (gray-200) */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* 다크 회색 (gray-500) */
  border-radius: 4px;
  border: 2px solid #e5e7eb; /* 트랙과 동일한 색으로 테두리 처리 */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* 조금 더 어두운 회색 (gray-600) */
}
